*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    overflow:hidden;
    font-family:Georgia,serif;
}

.welcome-page{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#efe3cf;

}

/* PAGE */

.letter-paper{

    width:760px;

    min-height:900px;

    background:#edd4a8;

    position:relative;

    padding:75px 85px;

    border-radius:3px;

    border:2px solid rgba(75,45,20,.28);

    box-shadow:

    0 25px 55px rgba(0,0,0,.18),

    inset 0 0 45px rgba(60,35,15,.12);

}

/* Burnt effect */

.letter-paper::before{

content:"";

position:absolute;

inset:0;

pointer-events:none;

box-shadow:

inset 0 0 25px rgba(70,30,15,.25),

inset 0 0 80px rgba(40,15,5,.15);

}

/* Dark edges */

.letter-paper::after{

content:"";

position:absolute;

left:8px;
right:8px;
top:8px;
bottom:8px;

border:2px solid rgba(70,40,20,.18);

pointer-events:none;

}

/* Flower */

.flowerTop{

text-align:center;

font-size:34px;

margin-bottom:35px;

letter-spacing:10px;

color:#b06c8c;

}

/* Text */

.letter-text{

font-size:24px;

line-height:2.15;

color:#4d3725;

}

.letter-text p{

margin-bottom:38px;

}

/* Highlight */

.highlight{

color:#8d5475;

font-weight:bold;

}

/* Signature */

.letter-signature{

margin-top:60px;

text-align:right;

font-size:34px;

font-style:italic;

}

/* Button */

.letter-continue{

display:block;

margin:60px auto 0;

padding:14px 34px;

background:#8d5475;

color:white;

border:none;

border-radius:5px;

cursor:pointer;

font-size:18px;

transition:.3s;

}

.letter-continue:hover{

background:#74425f;

}
